@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.hover-3d {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  perspective: 1000px;
}

.hover-3d figure {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  transition: transform 0.5s ease;
}

.hover-3d div:nth-child(2):hover ~ figure {
  transform: rotateX(10deg) rotateY(-10deg);
}
